<!DOCTYPE html>
<html lang="en">

<body>
    <h1>Ваш список покупок</h1>
    <table style="border: solid; border-collapse: collapse">
        <thead>
            <th style="border: solid; border-collapse: collapse">ингредиент</th>
            <th style="border: solid; border-collapse: collapse">количество</th>
            <th style="border: solid; border-collapse: collapse">е.и.</th>
        </thead>
        {% for ingredient in shopping_list %}
        <tr style="border: solid">
            <td style="border: solid">{{ ingredient.ingredients__name }}</td>
            <td style="border: solid">{{ data.amount.ingredients__measurement_unit }}</td>
            <td style="border: solid">{{ data.measurement_unit.total_quantity }}</td>
        </tr>
        {% endfor %}

    </table>
</body>
</html>