<!DOCTYPE html>
<html lang="en">

<body>
    <h1>Ваш список покупок</h1>
    <table style="border: solid; border-collapse: collapse">
        <thead>
            <th style="border: solid; border-collapse: collapse">ингредиент</th>
            <th style="border: solid; border-collapse: collapse">количество</th>
            <th style="border: solid; border-collapse: collapse">е.и.</th>
        </thead>
        {% for ingredient, data in shopping_list_dict.items %}
        <tr style="border: solid">
            <td style="border: solid">{{ ingredient }}</td>
            <td style="border: solid">{{ data.amount }}</td>
            <td style="border: solid">{{ data.measurement_unit }}</td>
        </tr>
        {% endfor %}

    </table>
</body>
</html>